* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #cfd3ce;
    font-family: 'Fenix', serif;
    background-size: 100vw 100vh;
}

.body-white {
    background-color: white;
}

.body-contacto {
    background-color: #583d72;
}

html {
    scroll-behavior: smooth;
}

header {
    height: 120px;
    margin: auto;
    display: flex;
    background-color: #cfd3ce;
}

hr {
    background: #13234C;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #13234C;
    text-shadow: 1px 1px;
}

nav {
    height: 60px;
    background: #13234C;
}

.bt {
    color: #e0ece4;
    background-color: #13234C;
    box-shadow: 0 3px #0E0635;
}

.bt:active {
    background-color: #062744;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.bt:hover {
    color: #0E0635;
    background-color: #eeeeee;
    border-color: #0E0635;
}

.logo {
    width: 120px;
    height: 60px;
    margin: auto 3% auto 2%;
}

.miniLogo {
    width: 30px;
    height: 30px;
}

.buscarcurso {
    display: flex;
    margin-left: 12%;
}

.seguir {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 15%;
}

.logored {
    width: 50px;
    height: 50px;
    margin-left: 10%;
    transition: transform .20s;
}

.logored:hover {
    transform: scale(1.1);
}

.aa {
    color: white;
    margin: auto;
}

.aa:hover {
    background-color: #eeeeee;
    color: #0E0635;
    border-radius: 5%;
}

.tarjeta {
    box-shadow: 4px 4px 4px #5a6781;
    opacity: 0;
}

.tituloTarjetas {
    font-size: 1.4em;
    color: black;
}

.min {
    width: 40px;
    height: 20px;
}

.aumento {
    transition: transform .2s;
}

.aumento:hover {
    transform: scale(1.4);
}

.imginicio {
    width: 100%;
    height: 640px;
}

.iconoInicio {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.contenedor {
    position: relative;
}

.contenedor1 {
    background: linear-gradient(to top, #07063d, #13234C);
    height: 300px;
    width: 97%;
    margin: 5% auto;
    box-shadow: 5px 5px 5px #5a6781;
    border-radius: 10px;
}

.parrafo2 {
    width: 40%;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 20px;
    border-radius: 15px;
}

.img3 {
    position: absolute;
    height: 240px;
    width: 30%;
    left: 65%;
    margin-top: 27px;
}

.boton {
    position: absolute;
    left: 18%;
}

h4 {
    color: #e0ece4;
    font-size: 2em;
    padding-top: 20px;
    margin-left: 15%;
}

.textoinicio {
    position: absolute;
    width: 100%;
    top: 0%;
    height: auto;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 74px;
    font-size: 1.0em;
}

.textoinicio1 {
    font-size: 2em;
}

.textoinicio2 {
    font-size: 1.2em;
}

.pos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.margincentro {
    display: block;
    margin: auto;
    width: 25%;
}

h2 {
    text-align: center;
    font-size: 2.5em;
    color: #13234C;
}

h3 {
    text-align: center;
    font-size: 2.5em;
    color: #13234C;
}

h5 {
    color: white;
    text-align: center;
}

.zoom {
    /* tiempo en que tarda en agrandar imagen */
    transition: transform .3s;
}

.zoom:hover {
    /* cuanto queres que se agrande la imagen al pasar el mouse*/
    transform: scale(1.1);
}

.tituloRedes {
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    padding-top: 25px;
}

.tituloSombra {
    color: #0E0635;
    text-shadow: 2px 2px 4px #636363;
}

.redes {
    height: 220px;
    background: linear-gradient(to top, #07063d, #13234C);
}

.redesHijo {
    width: 40px;
    height: 40px;
    transition: transform .3s;
}

.redesHijo:hover {
    transform: scale(1.5);
    animation-timing-function: ease;
}

.text-redes {
    color: #e0ece4;
    font-size: 1em;
}

.iconoFoot {
    width: 30px;
    height: 30px;
}

.copyright {
    color: #e0ece4;
    margin-top: 40px;
}

.search {
    display: block;
}

h6 {
    font-size: 1.3em;
}

li a {
    color: #e0ece4;
    font-size: 1.1em;
}

li a:hover {
    color: gray;
    text-decoration: none;
}

.maqueta {
    display: flex;
    justify-content: flex-end;
}

.paginacion {
    margin-left: 620px;
    color: white;
}

.items {
    color: white;
    background-color: #83121b;
}

.menu-curso {
    overflow: scroll;
    width: 17%;
    height: 620px;
    background-color: #13234C;
    position: fixed;
    border-top: 2px solid black;
}

.categoria {
    color: white;
    margin: 0 0 0 25px;
}

.categoria:hover {
    text-decoration-line: none;
    color: gray;
}

form {
    margin: auto;
    padding: 10px 20px;
    border-radius: 10px;
    background: #13234C;
    width: 40%;
    height: auto;
}

form p {
    color: white;
}

form h3 {
    color: white;
}

footer {
    background-color: #051626;
    height: 220px;
}

iframe {
    display: flex;
    margin: auto;
}

.botonForm {
    color: #0E0635;
    background-color: #e0ece4;
    width: 50%;
    margin-left: 125px;
    padding: 10px 100px;
    box-shadow: 0 3px #0E0635;
}

.botonForm:hover {
    color: white;
    background-color: #051626;
    box-shadow: 0.5 #303960;
    border: solid white 1px;
}

.botonForm:active {
    box-shadow: 0 5px #303960;
    transform: translateY(4px);
}

.btnTarjeta {
    background-color: #13234C;
}

.btnTarjeta:hover {
    background-color: #0c1733;
}

.btn .aparece {
    opacity: 0;
    transition: all 1.5s;
}

#redes {
    opacity: 0;
}

.apareceTop {
    animation: apareceTop 2s;
}

.tituloFooter {
    color: white;
    font-size: 1.7em;
}

.anclaFooter {
    color: white;
}

.anclaFooter:hover {
    text-decoration: none;
    color: rgb(180, 178, 178);
}

@keyframes apareceTop {
    0% {
        transform: translateX(60px);
    }
    100% {
        transform: translateX(0);
    }
}

.apareceTarjeta {
    opacity: 0;
    transition: all 1.5s;
}

.apareceBot {
    animation: apareceBot 2s;
}

@keyframes apareceBot {
    0% {
        transform: rotateY(-120deg);
    }
    100% {
        transform: rotateY(0);
    }
}

#aparece {
    opacity: 0;
    transition: all 1.5s;
}

.apareceLeft {
    animation: apareceLeft 2.5s;
}

.logoCategoria {
    width: 40px;
    height: 30px;
}

.logoFooter {
    color: white;
    font-size: 2em;
}

.foot {
    width: 100%;
    display: flex;
}

.imgContacto {
    width: 35%;
    height: 400px;
    margin-top: auto;
    margin-bottom: auto;
}

.caja-cursos {
    margin: 30px auto;
    width: 860px;
    height: 60px;
    background-color: #13234C;
    border: solid white 1px;
    border-radius: 5px;
}

.cajaDescripcion {
    width: 860px;
    margin: 10px auto;
    border: solid white 1px;
    border-radius: 5px;
    background-color: #13234C;
    color: rgb(235, 235, 235);
}

.btnBack {
    background-color: white;
    color: #051626;
}

.btnBack:hover {
    background-color: #7e7e7e;
    color: white;
}

video {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

main {
    width: 80%;
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    height: 603px;
    border-radius: 10px;
}

main p {
    padding: 50px 100px;
}

main h1 {
    color: white;
}

main img {
    width: 250px;
    margin-left: 38%;
}

.image {
    margin-top: 35px;
}

.botonVioleta {
    background-color: #C5327F;
    color: white;
}

.botonVioleta:hover {
    background-color: #992862;
    color: white;
}

.img-contacto {
    height: 250px;
    width: 100%;
}

.tituloContacto {
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    position: absolute;
    top: 90px;
    margin-left: auto;
    width: 100%;
}

.cajaContacto {
    position: relative;
}

textarea {
    max-height: 150px;
}

@keyframes apareceLeft {
    0% {
        transform: translateX(-60px);
    }
    100% {
        transform: translateX(0);
    }
}

.colorCard {
    background-color: #d1d1d1;
}

@media(min-width: 992px) and (max-width: 1200px) {
    .textoinicio {
        height: 640px;
        width: auto;
    }

    .seguir {
        display: none;
    }

    .buscarcurso {
        margin-left: 24%;
    }

    .logo {
        margin-left: 5%;
    }

    .lang-responsive {
        margin-bottom: 200px;
    }

    .botonForm {
        color: #0E0635;
        background-color: #e0ece4;
        width: 50%;
        margin-left: 175px;
        padding: 10px 50px;
        box-shadow: 0 3px #0E0635;
    }

    .parrafo2 {
        width: 55%;
        background: rgba(0, 0, 0, 0.4);
        color: #fff;
        padding: 20px;
        border-radius: 15px;
    }

    .boton {
        position: absolute;
        left: 25%;
    }

    .tituloRedes2 {
        margin-left: 22%;
    }

    .card-responsive {
        display: none;
    }

    .imginicio {
        width: 100%;
        height: 660px;
    }

    .textoinicio {
        position: absolute;
        width: 100%;
        top: 0%;
        height: 660px;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: 74px;
        font-size: 1.0em;
    }

        form {
        margin: auto;
        padding: 10px 20px;
        border-radius: 10px;
        background: #13234C;
        width: 70%;
        height: auto;
    }
}

@media(min-width: 845px) and (max-width: 991px) {
    .logo {
        width: 120px;
        height: 60px;
        margin-left: 290px;
    }

    h1 {
        width: 200px;
        margin-right: 250px;
    }   
    
    header {
        width: 100%;
    }
    .seguir {
        display: none;
    }

    .buscarcurso {
        display: none;
    }
    .textoinicio {
        height: 640px;
    }
    
    .iconoInicio {
        display: none;
    }

    .card-responsive {
        display: none;
    }

    .btn-responsive {
        color: #07063d;
        background-color: white;
    }

    .card-responsive3 {
        display: none;
    } 

    .card-responsive2 {
        display: none;
    } 

    .parrafo2 {
        width: 85%;
        background: rgba(0, 0, 0, 0.4);
        color: #fff;
        padding: 20px;
        border-radius: 15px;
    }

    .img3 {
        display: none;
    }

    .tituloRedes2 {
        margin-left: 35%;
    }

    .boton {
        position: absolute;
        left: 40%;
    }

    form {
        margin: auto;
        padding: 10px 20px;
        border-radius: 10px;
        background: #13234C;
        width: 70%;
        height: auto;
    }

    .navbar-expand-lg {
        height: auto; 
        background-color: #13234C;
    }
}

@media(min-width: 768px) and (max-width: 844px) {
    .logo {
        width: 120px;
        height: 60px;
        margin-left: 220px;
    }
    header {
        width: 100%;
    }
    .seguir {
        display: none;
    }
    h1 {
        width: 200px;
        margin-right: 250px;
    }
    .buscarcurso {
        display: none;
    }
    .textoinicio {
        height: 640px;
    }
    
    .iconoInicio {
        display: none;
    }

    .card-responsive {
        display: none;
    }

    .btn-responsive {
        color: #07063d;
        background-color: white;
    }

    .card-responsive2 {
        display: none;
    } 

    .parrafo2 {
        width: 85%;
        background: rgba(0, 0, 0, 0.4);
        color: #fff;
        padding: 20px;
        border-radius: 15px;
    }

    .img3 {
        display: none;
    }

    .tituloRedes2 {
        margin-left: 35%;
    }

    .boton {
        position: absolute;
        left: 40%;
    }

    form {
        margin: auto;
        padding: 10px 20px;
        border-radius: 10px;
        background: #13234C;
        width: 70%;
        height: auto;
    }

    .navbar-expand-lg {
        height: auto; 
        background-color: #13234C;
    }

    .card-responsive3 {
        display: none;
    } 
}